


<div class="modal fade" id="inf">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header">
  <h2 class="modal-title">about</h2> 
</div>
<div class="modal-body">
<div class="row">
    <div class="col-sm-3"><label> author : </label></div>
    <div class="col-sm-3"><label> Nassim Bouhadouf</label></div>
</div>
<div class="row">
    <div class="col-sm-3"><label> created : </label></div>
    <div class="col-sm-3"><label> 08/2018 </label></div>
</div>
<div class="row">
    <div class="col-sm-10"><label>this application implements the XOR problem, resolving it with an ANN. It works with TensorFlow, which runs in a Flask backend.
    The model contains 3 hidden layers : layer 1 -> 10 nodes , layer 2 -> 20 nodes , layer 3 -> 10 nodes . The results are not really accurate and it got some bugs that i'm trying to fix. I will upload fixed versions later.    </label></div>
</div>
</div>
<div class="modal-footer">
<button class="btn btn-outline-primary" data-dismiss="modal">ok</button>
</div>
</div>
</div>
</div>